<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.incubateltd.neomate" android-versionCode="45" id="com.incubateltd.neomate" ios-CFBundleIdentifier="com.londonnts.neomate" ios-CFBundleVersion="3.2.5" version="29" xmlns="http://www.w3.org/ns/widgets">
    <name>NeoMate</name>
    <description>
        Helps neonatal staff calculate drug doses for babies on NICU in common emergency situations. 
    </description>
    <author email="chris@neomate.co.uk" href="http://www.neomate.co.uk">
        Christopher Kelly 
    </author>
    <access origin="*" />
    <allow-navigation href="*" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="blackopaque" />
    <preference name="target-device" value="handset" />
    <preference name="permissions" value="none" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <allow-navigation href="http://localhost:8080/*"/>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="InAppBrowserStorageEnabled" value="true" />
    <splash src="splash.png" />
    <platform name="ios">
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152"/>
        <icon src="res/ios/icon-40.png" width="40" height="40"/>
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/ios/icon.png" width="57" height="57" density="mdpi" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/ios/icon-167.png" width="167" height="167" />
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-small@3x.png" width="87" height="87" />
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
        <icon src="res/ios/icon-83.5@2x.png" width="167" />
        <icon src="res/ios/icon-1024.png" width="1024" height="1024" />

<!--
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320" />
        <splash height="960" src="res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="res/screen/ios/LaunchImage-800-Landscape-736h@3x.png" width="2208" />
//-->
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" /> <!--2732x2732 X-->
<!--
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />
//-->

    </platform>
    <platform name="android">
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/drawable-hdpi/neomate.9.png" />
        <splash density="port-mdpi" src="res/screen/android/drawable-mdpi/neomate.9.png" />
        <splash density="port-xhdpi" src="res/screen/android/drawable-xhdpi/neomate.9.png" />
        <splash density="port-xxhdpi" src="res/screen/android/drawable-xxhdpi/neomate.9.png" />
    </platform>
    <preference name="android-minSdkVersion" value="22" />
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    </platform>

    <plugin name="cordova-plugin-statusbar" source="npm" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="cordova-plugin-ionic-webview" source="npm" />
    <plugin name="cordova-plugin-dialogs" source="npm" />
    <plugin name="flyer299-cordova-plugin-google-analytics" source="npm" />
    <plugin name="cordova-plugin-globalization" source="npm" />
    <plugin name="cordova-plugin-apprate" source="npm" />
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-keyboard" source="npm" />
    <plugin name="cordova-plugin-androidx" source="npm" />
    <plugin name="cordova-plugin-androidx-adapter" source="npm" />
    <content src="index.html" />
</widget>
